@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
--white : #ffffff;
}

* {
  box-sizing: border-box;
  font-family: Manrope;
}

html, body {
  min-height: 100vh;
}

body {
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.left {

}

.right {
  
}